<div class="hero">
  <header class="header">
    <h1 class="header__title">When is the next SpaceX launch?</h1>
  </header>

  <div class="countdown">
    <h2 *ngIf="date" class="countdown__date">
      {{ date }}
    </h2>
    <h3 class="countdown__timer">
      <ng-container *ngIf="countdown">
        {{ countdown.days }} : {{ countdown.hours }} : {{ countdown.seconds }}
      </ng-container>
    </h3>
  </div>
</div>

<div class="info" *ngIf="launch">
  <div class="info__item">
    <h2>Launch Site</h2>
    <p>{{ launch.launch_site.site_name_long }}</p>
  </div>
  
  <div class="info__item" *ngIf="launch.details">
    <h2>More Information</h2>
    <p>{{ launch.details }}</p>
  </div>

  <div class="info__item">
    <h2>Rocket Details</h2>
    <p><strong>Name:</strong> {{ launch.rocket.rocket_name }}</p>
  </div>

  <div class="info__item">
    <h2>Reused Parts</h2>
    <p><strong>Core:</strong> {{ launch.reuse.core }}</p>
    <p><strong>Side Core 1:</strong> {{ launch.reuse.side_core1 }}</p>
    <p><strong>Side Core 2:</strong> {{ launch.reuse.side_core2 }}</p>
    <p><strong>Fairings:</strong> {{ launch.reuse.fairings }}</p>
    <p><strong>Capsule:</strong> {{ launch.reuse.capsule }}</p>
  </div>

  <div class="info__item">
    <h2>Was the launch successful?</h2>
    <ng-container *ngIf="launch.launch_success === false">
      <p>Yes!</p>
    </ng-container>
    <ng-container *ngIf="launch.launch_success === false">
      <p>No...</p>
    </ng-container>
    <ng-container *ngIf="launch.launch_success === null">
      <p>Hasn't launched yet!</p>
    </ng-container>
  </div>

  <div class="info__item">
    <h2>Reddit Post Link</h2>
    <a [href]="launch.links.reddit_campaign" target="_blank">{{ launch.links.reddit_campaign }}</a>
  </div>
</div>